.acccontainer{
  height: 100vh;
  display: flex;

}
.accleftbar{
  max-width: 350px;
  min-width: 250px;
  height: 100%;
  z-index: 10px;
  background-color: #fff;
  box-shadow: 6px 3px 5px 0px #CFD1D5;
-webkit-box-shadow: 6px 3px 5px 0px #CFD1D5;
-moz-box-shadow: 6px 3px 5px 0px #CFD1D5;
}
.accleftbar h1{
  margin: 10px;
  font-size: 40px;
}
.accleftbar .settingTabs{
  width: 100%;
}
.accleftbar .settingTabs ul{
  list-style: none ;
  line-height: 60px;
}
.accleftbar .settingTabs ul li{
  display: flex;
  white-space: nowrap;
  align-items: center;
  cursor: pointer;
}
.accrigthbar{
  max-width: 1280px;
  min-width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  padding-top: 20px;
  margin: 0px 10px;
  overflow-x: auto;
  white-space: nowrap;
}
.accAccountD{
  background-color: #fff;
  max-width: 1050px;
  min-width: 650px;
  height: max-content;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.accProfile{
  width: 400px;
  height: 400px;
  position: relative;
}
.accProfile img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid #252525;
}
.accProfile label{
  position: absolute;
  top: 75%;
  right: 20px;
  border: none;
  border-radius: 50%;
}