@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap');
.acard {
    border-radius: 6px;
    width: 100%;
    height: 100vh;
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;

  }
.profile-card{
  border-radius: 10px;
  display: flex;
  width: 90vw;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.frmprof input[type="file"] {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333;
  font-size: 16px;
  width: 100%;
}
.prof-pic{
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.editbtnacc{
  width: 100%;
  padding: 5px;

}
.editbtnacc button{
  float: left;

}
.prof-img{
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.prof-img button{
  margin-top: 10px;
}

.profile-card .prof-accs{
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center ;
}
.prof-accs button{
  float: right;
  margin: 5px;
}

.changeprof{
  color: white;
  text-decoration: none;
}
.Changeprofile{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;

}
.chProf{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.frmpass{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.editinfocon{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.infouserchng{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: left;
}
.aligninfo{
   text-align: left;

}
.fabiconedit{
  margin: 30px 0px 0px 0px;
  padding-right: 30px;
}
.chngaligninfo{
  padding: 10px;
}




