@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
.loginpage{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/municipal.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.loginheader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 15px 40px 15px 40px;
}

.loginpage .lgbm{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: -1;
}
.lgform{
    width: 40%;
    height: max-content;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.logbmcc{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(6, 150, 61);
    padding: 10px 0px 10px 0px;
}
.logbmcc img{
    width: 100px;
    height: 90px;
    border-radius: 50%;
    z-index: 10000;
}
.logbmcc p{
    font-size: 20px;
    color: white;
    font-weight: 700;
}
.lgcon{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px 10px 25px 10px;
}
.lgcon img{
    z-index: -100;
}
.lgcon h1{
    margin: 0;
    padding: 20px 0px 10px 0px;
    text-align: center;
}
.signforgot{
    width: 100%;
    display: flex;
    color: black;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.lgcon form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 15px;
}
.lgbtn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.lgcon form button{
    width: 60%;
    padding: 10px;
    border: none;
    font-size: 17px;
    color: white;
}
.loglink{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lglink{

    text-decoration: none;
    font-size: 15px;
}
.findtocon{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.findtocon h2{
    margin: 0;
    padding: 20px 0px 10px 0px;
    text-align: center;
}
.otpfform{
    width: 100%;
    height: 100%;
    padding: 10px 10px 20px 50px;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
.otpfnsc{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.bacreotp{
    width: 80%;
    display: flex;
    flex-direction: column;
}
.otpverifycon{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 35px;
}
.otpverifycon h2{
    margin: 0;
    padding: 20px 0px 10px 0px;
    color: white;
    text-align: center;
}
.formotpvalif{
    width: 90%;
    padding: 10px;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
.restfrmpass{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.restfrmpass h1{
    margin: 0;
    padding: 20px 0px 10px 0px;
    color: white;
    text-align: center;
}
.updatepassresfrm{
    width: 80%;
    padding: 10px;
    padding-bottom: 15px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}