@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap');
.loginpage{
    top: 10%;
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/municipal.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.loginpage .lgbm{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: -1;
}
.lgform{
    width: 40%;
    height: max-content;
    display: flex;
    flex-direction: column;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px); 
}
.logbmcc{
    width: 100%;
    height: 20%;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(6, 150, 61);
    padding: 10px 0px 10px 0px;
}
.logbmcc img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    z-index: 10000;

}
.lgcon{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.lgcon img{
    z-index: -100;
}
.lgcon h1{
    margin: 0;
    padding: 20px 0px 10px 0px;
    font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    text-align: center;

}
.lgcon form{
width: 80%;
height: 100%;
background-color: whitesmoke;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 15px;
padding: 10px;
}
.lgbtn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.lgcon form button{
    width: 60%;
    margin-left: 120px;
    padding: 10px;
    border: none;
    font-size: 17px;
    color: white;
    background: green;
}
.loglink{
    height: 100%;
    display: flex;
    justify-content: space-around;
 
}
.lglink{
    font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    color: white;
    text-decoration: none;
    font-size: 15px;
}
.findtocon{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.178);
    backdrop-filter: blur(2px); 
    padding: 11.4px;
}
.findtocon h2{
    margin: 0;
    padding: 20px 0px 10px 0px;
    font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    text-align: center;
}
.otpfform{
    width: 80%;
    height: 100%;
    padding: 10px;
    padding-bottom: 15px;
    height: auto;
    font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 10px;
}
.otpfnsc{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}
.otpverifycon{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.178);
    backdrop-filter: blur(2px); 
    padding: 11.4px;
}
.otpverifycon h2{
    margin: 0;
    padding: 20px 0px 10px 0px;
    font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    color: white;
    text-align: center;
}
.formotpvalif{
    width: 80%;
    padding: 10px;
    padding-bottom: 15px;
    height: auto;
    font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 10px;
}
.restfrmpass{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.178);
    backdrop-filter: blur(2px); 
    padding: 11.4px;
}
.restfrmpass h1{
    margin: 0;
    padding: 20px 0px 10px 0px;
    font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    color: white;
    text-align: center;
}
.updatepassresfrm{
    width: 80%;
    padding: 10px;
    padding-bottom: 15px;
    height: auto;
    font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 10px;
}