@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap');
.registration{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: top;
    padding-top: 3%;
    justify-content: center;
    background-image: url('../../userhome/assets/municipal.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.registrationcon{
    width: 80%;
    height: 70%;
    border-radius: 8px;
    display: flex;
    box-shadow: 0px 1px 7px 9px rgba(234,218,218,0.57);
    -webkit-box-shadow: 0px 1px 7px 9px rgba(234,218,218,0.57);
    -moz-box-shadow: 0px 1px 7px 9px rgba(234,218,218,0.57);
}
.registrationimg{
    width: 40%;
    height: 100%;
    background-image: url('../../userhome/assets/home.jpg');
    background-repeat: no-repeat;
    background-position: 50%;
    background-attachment: scroll;
    background-size: cover;
    box-shadow: -25px 1px 1px -4px rgba(218,211,211,0.62) inset;
    -webkit-box-shadow: -25px 1px 1px -4px rgba(218,211,211,0.62) inset;
    -moz-box-shadow: -25px 1px 1px -4px rgba(218,211,211,0.62) inset;
}
.sloganreg{
    width: 100%;
    height: 100%;
    display: flex;
    font-family: 'Inter', sans-serif;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: rgba(43, 194, 106, 0.73);
}
.sloganreglogo{
    flex-basis: 10%;
}
.sloganreg img{
    width: 15%;
}
.sloganregcontainer{
    display: flex;
    flex-basis: 80%;
    align-items: top;
    justify-content: top;
}
.sloganreg div{
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sloganreg h1{
    margin: 0;
    margin-top: 20px;
    color: white;
    font-weight: 700;
}
.sloganreg p, .sloganreg span{
    margin: 0;
    color: white;
    font-weight:400;
}
.registrationfrm{
    width: 60%;
    font-family: 'Inter', sans-serif;
    background: white;
}
.registrationfrm form{
    display: flex;
    width: 100%;
    height: 80%;
    flex-direction: column;
    justify-content: space-around;
}
.registrationfrm h1{
    margin: 0;
    margin-top: 20px;
    text-align: center;
}
.regfrmcontainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btnregsbmt{
    width: 50%;
    align-self: center;
    background: radial-gradient(100% 100% at 100% 0%, #fdff89 0%, rgb(28, 147, 77) 100%);
}
.emailotpreg{
    width: 70%;
    height: auto;
    display: flex;
    background-color: whitesmoke;
    border-radius: 5px;
    flex-direction: column;
}
.otpfreg{
    width: 80%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    border-radius: 5px;
    flex-direction: column;
}
.createacccon{
    width: 70%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    border-radius: 5px;
    flex-direction: column;
}
.otpfreg h2{
    font-size: 36px;
    color: darkgreen;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
.emailotpreg h2{
    font-size: 36px;
    color: darkgreen;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
.emailotpreg p{
    margin: 0;
    text-align: center;
    font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
.regbtnregnex{
    width: 95%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.bacreotp{
    display: flex;
    width: 90%;
    justify-content: space-between;

}
