@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap');
.registration{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: top;
    padding-top: 3%;
    justify-content: center;
    background-image: url('../../userhome/assets/municipal.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.registrationcon{
    width: 80%;
    height: 70%;
    display: flex;
    
}
.registrationimg{
    width: 40%;
    height: 100%;
    background-image: url('../../userhome/assets/home.jpg');
    background-repeat: no-repeat;
    background-position: 50%;
    background-attachment: scroll;
    background-size: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.sloganreg{
    width: 100%;
    height: 100%;
    display: flex;
    font-family: 'Inter', sans-serif;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: rgba(135, 233, 176, 0.73);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.sloganreglogo{
    flex-basis: 10%;
    
}
.sloganreg img{
    width: 15%;
    padding: 10px;
    margin: 40px;
}
.sloganregcontainer{
    display: flex;
    flex-basis: 80%;
    align-items: top;
    justify-content: top;
    padding: 20px;
    text-align: center;

}
.sloganreg div{
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.sloganreg h1{
    margin: 0;
    margin-top: 20px;
    font-weight: 700;
    color: #005427;
}
.sloganreg p, .sloganreg span{
    margin: 0;
    color: rgb(23, 97, 26);
    font-weight:400;
    font-size: 20px;
}
.registrationfrm{
    width: 60%;
    font-family: 'Inter', sans-serif;
    background: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.registrationfrm form{
    display: flex;
    width: 100%;
    height: 80%;
    flex-direction: column;
    justify-content: space-around;
}
.registrationfrm h1{
    margin: 0;
    margin-top: 20px;
    text-align: center;
    color: #005427;
    font-weight: 600 ;
}
.regfrmcontainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btnregsbmt{
    width: 50%;
    align-self: center;
    background: radial-gradient(100% 100% at 100% 0%, #fdff89 0%, rgb(28, 147, 77) 100%);
}
.emailotpreg{
    width: 70%;
    height: auto;
    display: flex;
    background-color: whitesmoke;
    border-radius: 5px;
    flex-direction: column;
}
.otpfreg{
    width: 80%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(231, 240, 229);
    border-radius: 10px;
    flex-direction: column;
    text-align: center;
}
.createacccon{
    width: 70%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(200, 252, 173);
    border-radius: 10px;
    flex-direction: column;
}

.createacccon h2{
    color: #005427;
    font-weight: 600;
    font-size: 24px;
}

.createacccon input{
    color: #005427;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    outline: none;
}
.createacccon label{
    color: #005427;
    font-weight: 600;
}

.otpfreg h2{
    font-size: 36px;
    color: darkgreen;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
.emailotpreg h2{
    font-size: 36px;
    color: darkgreen;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
.emailotpreg p{
    margin: 0;
    text-align: center;
    font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
.regbtnregnex{
    width: 95%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.bacreotp{
    display: flex;
    width: 90%;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
}
