@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap');
.Econ{
    margin-left: 10%;
    width: 80%;
    height: 100%;
}
.Econd{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    line-height: 25px;

}
.infocontainer{
  padding: 10px;
  border-radius: 0px;
  margin-bottom: 20px;
  line-height: 25px;
  overflow: hidden;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

.frmbtnec{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    width: 100%;
    margin-top: 30px;
}