@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap');
.lconthome{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.lapply{
    width: 100%;
    height: 70%;
    background-image: url('../../userhome/assets/home.jpg');
    background-repeat: no-repeat;
    background-position: 50%;
    background-attachment: scroll;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.lslogan{
    display: flex;
    background-color: white;
    background-image: linear-gradient(rgb(225, 225, 218) 60%, transparent 100%);
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40%;
}
.lslogan h1{
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: black;
    letter-spacing: 15px;
    font-style: oblique;
    font-weight: 700;
    font-size: 20px;

}
.lslogan p{
    margin: 0;
    letter-spacing: 5px;
    font-style: italic;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 400;
}
.lbtnapp{
    width: 100%;
    height: 20%;
    justify-content: center;
    align-items: center;
    
}
.llinkapp{
    margin-left: 45%;
}
.llinkapp button{
    font-size: 20px;
    padding: 10px;
    border: 2px solid darkgreen;
    color: white;
    border-radius: 5px;
    background: radial-gradient(100% 100% at 100% 0%, #fdff89 0%, rgb(28, 147, 77) 100%);
}
.lcarou{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
}
.limgcard{
    width: 25%;
    border-radius: 15px;
    height: 80%;
    border: 2px solid black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.limgcard img{
    border-radius: 15px;
    width: 100%;
    height: 100%;
}
.lhr{
    border: 1px solid rgb(53, 48, 48);
    margin: 20px;
}
