.lnav{
    width: 100%;
    background: rgb(255, 238, 0);
    height: 45px;
}
.lnav ul{
    padding-right: 50px;
    display: flex;
    font-size: 15px;
    list-style-type: none;
    color: black;
    justify-content: space-between;
}
.lulli{
    text-decoration: none;
    color: green;
    font-size: 15px;
    font-weight: 1000;
}
