@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap');
.lnav{
    font-family: 'Inter', sans-serif;
    width: 100%;
    background: yellow;
    height: 45px;
}
.lnav ul{
    font-family: 'Inter', sans-serif;
    padding-right: 50px;
    display: flex;
    font-size: 15px;
    list-style-type: none;
    color: black;
    justify-content: space-between;
}
.lulli{
    text-decoration: none;
    color: green;
    font-size: 15px;
    font-weight: 600;
}
