@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Persona{
    margin-top: -20px;
    margin-left: 10%;
    width: 80%;
    height: 100vh;
    border: none;
}
.Persona h2{
   font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    text-align: left;
    height: 50px;
    margin: 0;
    padding-left: 20px;
    padding-top: 10px;
    border: none;
    background-color: blue;
    color: white;
}
.form{
  background-color: white;
  height: max-content;
  padding-bottom: 20px;
}
.personad{
    width: 100%;
    height: 100%;
    border: none;
}
.parentcontainer{
  width: 100%;
  height: max-content;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  line-height: 35px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  padding: 10px;
}
.parentcontainer h3{
  font-size: 18px;
  font-weight: 700;
  white-space: nowrap;
  margin-bottom: 15px;
  color: #337ab7;
}
.parentcontainer .parenteach{
  width: 100%;
  height: 100%;
  padding: 5px;
}
.btnfrmn{
    display: flex;
    width: 100%;
    margin: 10px;
    font-size: 20px;
    align-items: center;
    justify-content: space-around;
}
.siblinginf{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.siblingcontainer{
  width: 100%;
  padding: 10px;
  height: max-content;
}
.siblingcontainer h3{
  font-size: 23px;
  font-weight: 700;
  white-space: nowrap;
  margin: 0px;
  margin-bottom: 15px;
  color: #337ab7;
}
.addbtnsib{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
