input[type="password"]::-webkit-password-reveal-button {
  display: none;
}

/* For Internet Explorer */
input[type="password"]::-ms-reveal {
  display: none;
}

/* For some Edge versions */
input[type="password"]::-ms-clear {
  display: none;
}
.bg-registration-image {
  background-image: url('../src/userhome/assets/municipal.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-background-image {
  background-image: url('../src/Images/mydo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.bg-homebg-image {
  background-image: url('../src/Images/mydo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
@layer utilities {
  .shadow-custom {
    box-shadow: 2px 2px 15px 7px rgba(0, 0, 0, 0.58);
  }
}

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
  